* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

ul {
  column-gap: 10px;
  column-width: 150px;
  counter-reset: item;
  list-style: none;
  margin: 1em auto;
  max-width: 700px;
  padding: 10px;
  width: 100%;
}

li {
  align-items: stretch;
  box-sizing: border-box;
  column-break-inside: avoid;
  counter-increment: item;
  display: flex;
  height: 100px;
  justify-content: center;
  padding-bottom: 10px;
}
li:after {
  align-items: center;
  background: #c85634;
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.3);
  content: counter(item);
  color: white;
  display: flex;
  flex: 1;
  font-size: 2em;
  justify-content: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}
li:nth-child(even) {
  height: 200px;
}
li:nth-child(even):after {
  background: #17729D;
}
li:nth-child(3n) {
  height: 150px;
}
li:nth-child(3n):after {
  background: #6aa53c;
}
